Release/report.aux
Release/report.fdb_latexmk
Release/report.fls
Release/report.log
Release/report.pdf
Release/report.synctex.gz
Release/report.toc
Release/preamble.log
Release/preamble.synctex.gz(busy)
Ej 6/a.out
