Release/report.aux
Release/report.fdb_latexmk
Release/report.fls
Release/report.log
Release/report.pdf
Release/report.synctex.gz
Release/report.toc
Release/preamble.log
Release/preamble.synctex.gz(busy)
Ej 6/a.out
E7/a.out
E7/ffT.vcd
E6/latchSR.vcd
E6/a.out
Exercise7/a.out
Exercise7/ffT.vcd
Exercise6/latex/ex6.aux
Exercise6/latex/ex6.fdb_latexmk
Exercise6/latex/ex6.fls
Exercise6/latex/ex6.log
Exercise6/latex/ex6.synctex.gz
Exercise6/latex/tables/e6tab1.log
Exercise6/latex/tables/e6tab1.synctex.gz
Exercise6/latex/tables/e6tab1.fls
Exercise6/latex/tables/e6tab1.fdb_latexmk
Exercise6/latex/tables/e6tab1.aux
